

.generateButton{
    background-color: #80A3A2;
    height: 78.75px;
    width: 290px;
    border: none;
    text-align: start;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    padding-left: 25px;
    filter: drop-shadow(5px 5px 5px RGB(0,0,0,0.15));
}