.MyQuizzesPageWrapper{
    display: flex;
    height: fit-content;
}


.MyQuizzes-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

    
.MyQuizzes-card{
    width:100%;
    max-width: 90%;
    margin-top: 60px;
    filter: drop-shadow(5px 5px 5px RGB(0,0,0,0.15));
}