.TextLabel{
    font-family: 'Work Sans', sans-serif;

}

.TextLabel-white{
    color: white;
    margin: 0;
    padding: 0;
}

.TextLabel-black{
    display: inline-block;
    color: black;
    margin: 0;
    padding: 0;
}

.TextLabel-small{
    font-size: 16px;
}

.TextLabel-medium{
    font-size: 24px;
}

.TextLabel-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}