.HomePageWrapper{
    display: flex;
    flex-direction: row;
}

.HomePageContent{
    width: calc(100vw - 360px);
    padding-top: 68px;
}

.HomePage-loader{
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    background-color: rgb(128, 163, 162, 0.7);
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}